body {
    background: no-repeat fixed;
}

a {
    color: #757575;
}

button.skills {
    background-color: #222222;
}

#container {
    padding-top: 25px;
}

.ui.button {
    margin-bottom: 0.75em;
}

#theme-toggle, #blog {
    margin-right: 15px;
    margin-top: 15px;
    z-index: 10;
}

#footer {
    text-align: center;
}

img.discord {
    width: 100%;
}

.ui.segment {
    font-size: 18px;
    border: none;
    box-shadow: none;
}

.ui.header {
    color: #fff;
}

.italic {
    font-style: italic;
}

.ui.modal>.content {
    background-color: #222;
    color: #fff;
}

.ui.modal>.header:not(.ui) {
    background: #333;
    color: #fff;
}

em {
    text-decoration: underline;
}

.fab.left {
    position: fixed;
    bottom: 5px;
    left: 15px;
    cursor: pointer;
    z-index: 999;
}