.grow {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.grow:hover {
    transform: scale(1.05);
}

#subscribe-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}